<div class="inner-wide">
  <div class="two radio">

      <div class="big-title alt radio-signup">
          <h1><a href="/radio">Midnight Radio</a></h1>
          <p>A short burst of ruminations and a five-song mix delivered 'round midnight on the 1st and 15th of each month.</p>
          {{> "signup"}}
      </div>

      <article class="post-card bg-dark bg-full image-slider">

                <img src="{{asset "/img/headlight-arkansas.webp" }}" alt="Somewhere in Arkansas">
                <img src="{{asset "/img/headlight-casino.webp" }}" alt="Somewhere in the Mojave Desert">
                <img src="{{asset "/img/headlight-motel.webp" }}" alt="Somewhere in Montana">
                <img src="{{asset "/img/headlight-strip-mall.webp" }}" alt="Somewhere in Ohio">
                <img src="{{asset "/img/headlight-waffle-house.webp" }}" alt="Somewhere in Missouri">

                <a href="/radio">
                    <div class="post-card-inside">
                        <div class="post-card-content">
                        </div>
                    </div>
                </a>
            </article>

  </div>
</div> 