{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer radio-page">
    {{#post}}
    
    <div class="radio-hero-wrapper">
        <div class="image-slider">
            {{#if feature_image}}
                <img
                    class="post-card-image bg-full-image bg-fade-in"
                    srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                    sizes="(min-width: 1600px) 1600px, 100vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
            {{/if}}
        </div>
        
        <div class="radio-hero-content">
            <h5>
                Midnight Radio 
                {{#foreach tags visibility="internal"}}
                {{#if (match slug "^hash-mr-")}}
                    <span class="episode-number" data-ep="{{slug}}"></span>
                {{/if}}
                {{/foreach}}
            </h5>
            <h1>{{title}}</h1>    
        </div>
    </div>
            
    {{#if feature_image_caption}}
        <div class="post-header-caption">
            {{feature_image_caption}}
        </div>
    {{/if}}

    <div class="radio-content-wrapper">
        <div class="inner-wide">
            <article class="{{post_class}} post-full">
                
                <div class="post-header-content inner">
                    <div class="post-extract">
                        <h5><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="LL"}}</time></h5>
                        <p>{{{custom_excerpt}}}</p>
                    </div>
                </div>

                <div class="post-content">
                    {{content}}
                </div>

                <div class="meta inner">

                    <div class="tag-box">
                        {{#if tags}}
                        {{#foreach tags}}
                        <h5><a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a></h5>
                        {{/foreach}}
                        {{/if}}
                    </div>


                    <div class="prev-next">
                        {{#prev_post}}
                            <a href="{{url}}" class="circle-arrow prev">
                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="18" cy="18" r="17.5" transform="matrix(-1 0 0 1 36 0)" fill="black" stroke="black"/>
                                <path d="M10.2197 18.5303C9.92678 18.2374 9.92678 17.7626 10.2197 17.4697L14.9926 12.6967C15.2855 12.4038 15.7604 12.4038 16.0533 12.6967C16.3462 12.9896 16.3462 13.4645 16.0533 13.7574L11.8107 18L16.0533 22.2426C16.3462 22.5355 16.3462 23.0104 16.0533 23.3033C15.7604 23.5962 15.2855 23.5962 14.9926 23.3033L10.2197 18.5303ZM25 18V18.75H10.75V18V17.25H25V18Z" fill="white"/>
                                </svg>
                            </a>
                        {{/prev_post}}

                        {{#next_post}}
                            <a href="{{url}}" class="circle-arrow next">
                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="18" cy="18" r="17.5" transform="matrix(1 8.74228e-08 8.74228e-08 -1 0 36)" fill="black" stroke="black"/>
                                <path d="M25.7803 17.4697C26.0732 17.7626 26.0732 18.2374 25.7803 18.5303L21.0074 23.3033C20.7145 23.5962 20.2396 23.5962 19.9467 23.3033C19.6538 23.0104 19.6538 22.5355 19.9467 22.2426L24.1893 18L19.9467 13.7574C19.6538 13.4645 19.6538 12.9896 19.9467 12.6967C20.2396 12.4038 20.7145 12.4038 21.0074 12.6967L25.7803 17.4697ZM11 18L11 17.25L25.25 17.25L25.25 18L25.25 18.75L11 18.75L11 18Z" fill="white"/>
                                </svg>
                            </a>
                        {{/next_post}}
                    </div>
                </div>

            {{!-- If Disqus enabled, includes the Disqus comments - partials/comments-disqus.hbs --}}
            {{#if @custom.enable_disqus}}
                {{#if @custom.disqus_shortname}}
                    {{> "comments-disqus"}}
                {{/if}}
            {{!-- If Disqus not enabled and Ghost comments enabled, include ghost comments - partials/comments.hbs --}}
            {{else}}
                {{#if comments}}
                    {{> comments}}
                {{/if}}
            {{/if}}

            {{#if @member}} {{else}}
            <div class="inner">
                <div class="radio-cta">
                    <p>Enjoy life and get Midnight Radio delivered to your inbox 'round midnight on the 1st and 15th of each month.</p>
                    <div style="min-height: 58px;max-width: 440px;margin: 0;width: 100%"><script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js" data-button-color="#000000" data-button-text-color="#FFFFFF" data-site="https://www.jamesreeves.co/" data-locale="en" async></script></div>
                </div>
            </div>
            {{/if}}

            </div>
        </article>


    <!-- EPISODES -->
    <div class="inner-wide">
        <div class="grid">
            {{#get "posts" include="authors,tags,tiers" filter="tag:midnight-radio+id:-{{id}}" limit="3"}}
                {{#foreach posts visibility="all"}}

                    <article>
                        <div class="post-card bg-dark bg-full">
                            <a href="{{url}}" class="post-card-link">

                            {{#if feature_image}}
                                <img
                                    class="post-card-image bg-full-image bg-fade-in"
                                    srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                                    sizes="(min-width: 1600px) 1600px, 100vw"
                                    src="{{img_url feature_image size="xl"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                />
                            {{/if}}

                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>
                                            Midnight Radio 
                                            {{#foreach tags visibility="internal"}}
                                            {{#if (match slug "^hash-mr-")}}
                                                <span class="episode-number" data-ep="{{slug}}"></span>
                                            {{/if}}
                                            {{/foreach}}
                                        </h5>
                                        <h2>{{title}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text radio-text">
                            <div></div>
                            <p>{{{custom_excerpt}}}</p>
                        </div>
                        </a>
                    </article>                            

                {{/foreach}}
                {{/get}}
        </div>
    </div>

{{/post}}
</main>
<br>


