{{!< default}}


<style>

    p {
        font-family: var(--font-sans);
        line-height: 1.6;
        }

    strong {
        font-weight: 700;
    }

    ul, ol {
        margin-top: 5px !important;
    }

    .post-content ol li, .post-content ul li {
        font-family: var(--font-sans);
        padding-bottom: 8px;
        }

    .kg-button-card a.kg-btn-accent {
        padding: 20px 30px !important;
        font-size: 18px !important;
        letter-spacing: 0.02em !important;
        border-radius: 8px !important;
        text-transform: none !important;
        }
    .kg-toggle-heading {
        margin-top: -40px !important;
        }
    .content {
        padding-top: 15px;
        }
    .spite-img {
        width: 100%;
        max-width: 1200px;
        height: auto;
        overflow: hidden;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto; 
        }
    .radio-hero-wrapper {
        background: none;
        padding-top: 20px
    }
    .radio-page .image-slider img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }
    h5.kg-toggle-heading-text {
        background: #000;
    }

    [data-theme="light"] h5.kg-toggle-heading-text {
        background: #000;
        color: #fff;
    }

    @media (max-width: 700px) {
        .radio-hero-wrapper {
            aspect-ratio: 16/9
        }
    }

    #main .kg-toggle-card-icon svg {
        color: #fff;
    }
    .app-nav {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: left;
}

.app-nav a {
    font-size: var(--type-label);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--color-text);
    text-decoration: underline;
}

.app-nav a:hover {
    color: var(--color-hover);
}
</style>

<main id="main" class="content outer radio-page">

        {{!-- Everything inside the #post tags pulls data from the post --}}
        {{#post}}
            
            <div class="spite-img">
                    {{#if feature_image}}
                        <img
                            class="bg-fade-in"
                            srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                            sizes="(min-width: 1600px) 1600px, 100vw"
                            src="{{img_url feature_image size="xl"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        />
                    {{/if}}
                </div>


    <div class="radio-content-wrapper">
        <div class="inner-wide">
            <article class="{{post_class}} post-full">

                <div class="post-header-content inner">
                    <h1 class="post">{{title}}</h1>
                </div>
                <div class="post-content">
                    {{content}}
                </div>

                    <nav class="app-nav">
                        <a href="/spite/">Spite</a>
                        <a href="/spite-release-notes/">Release Notes</a>
                        <a href="/spite-privacy-policy/">Privacy</a>
                    </nav>

                {{#if comments}}
                        {{> comments}}
                {{/if}}


            </article>
        </div>
    </div>

        {{!-- Next/previous posts --}}




{{/post}}

</main>