{{!< default}}

<main id="main" class="content outer notebook-collection">
    
    <div class="inner-wide">

         {{> notebook-header}}

        {{#post}}
            
            {{#if feature_image}}
                <div class="collection-hero">
                    <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                </div>
            {{/if}}         
            {{#if feature_image_caption}}
            <div class="post-header-caption">
                {{feature_image_caption}}
            </div>
            {{/if}}

        <div class="radio-content-wrapper">
            <div class="inner-wide">
                <article class="{{post_class}} post-full">

                    <div class="post-header-content inner">
                        <h1 class="post">{{title}}</h1>
                    </div>
                    <div class="post-content">
                        {{content}}
                    </div>

                    <div class="meta inner">
                    {{#if comments}}
                        {{> comments}}
                    {{/if}}
                    </div>

                </article>
            </div>
        </div>
    </div>

{{/post}}


 <!-- EPISODES -->
    <div class="inner-wide">
        <div class="grid">
            {{#get "posts" include="authors,tags,tiers" filter="tag:midnight-radio" limit="6"}}
                {{#foreach posts visibility="all"}}

                    <article>
                                                    <a href="{{url}}" class="post-card-link">

                        <div class="post-card bg-dark bg-full">

                            {{#if feature_image}}
                                <img
                                    class="post-card-image bg-full-image bg-fade-in"
                                    srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                                    sizes="(min-width: 1600px) 1600px, 100vw"
                                    src="{{img_url feature_image size="xl"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                />
                            {{/if}}

                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>
                                            Midnight Radio 
                                            {{#foreach tags visibility="internal"}}
                                            {{#if (match slug "^hash-mr-")}}
                                                <span class="episode-number" data-ep="{{slug}}"></span>
                                            {{/if}}
                                            {{/foreach}}
                                        </h5>
                                        <h2>{{title}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </article>                            

                {{/foreach}}
                {{/get}}
        </div>
    </div>

</main>