<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}>
    <head>
        {{!-- Document Settings --}}
        <meta charset="utf-8">
        {{!-- Page Meta --}}
        <title>{{meta_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- Styles --}}
        {{> custom-fonts}}
        <link rel="preload" as="style" href="{{asset "css/style.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
        {{!-- Outputs SEO meta+structured data and other important settings --}}
        {{ghost_head}}
        <link rel="stylesheet" href="https://use.typekit.net/eer6kbs.css">
        <script>
    (function() {
        const theme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", theme);
    })();
</script>
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W142JN2JXB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W142JN2JXB');
</script>
    <body class="{{body_class}}">



        <div id="page" class="site bg">
            {{!-- Includes the theme header - partials/header.hbs --}}
            {{> header}}
            {{!-- Inserts the main content --}}
            {{{body}}}
            {{!-- Includes the theme footer - partials/footer.hbs --}}
            {{> footer}}
        </div>

        {{!-- Scripts --}}
        <script src="{{asset "js/index.js"}}"></script>



        {{#is "post, page"}}
            <script src="{{asset "js/post.js"}}"></script>
        {{/is}}
        {{{block "featured-carousel-script"}}}

        {{!-- Outputs important scripts and data --}}
        {{ghost_foot}}



    </body>
</html>
