{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer radio-page">
    {{#post}}
    
    <div class="radio-hero-wrapper">
        <div class="image-slider">
            <img src="{{asset "/img/midnight.webp" }}" alt="Somewhere in Arkansas">
        </div>
        
        <div class="radio-hero-content">
            <h1>Midnight<br>Radio</h1>    
            <div class="post-extract">
                <p>Notes on surviving the 21st century and a mixtape delivered 'round midnight on the 1st and 15th of the month.</p>
            </div>
        </div>
            <div class="radio-caption">
        Caravaggio, Saint Jerome in His Study (1604)
    </div>
    </div>

        <div class="midnight-info">
                <div class="midnight-blurb">
                    {{content}}

                    {{#if @member}}<br><em>Thank you for being a rare and wonderful Midnight Radio Member.</em>
                    {{else}}{{> "signup"}}  
                    {{/if}}
                </div>

                <div id='buzzsprout-large-player'>
                    <div id='buzzsprout-large-player'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/2541955.js?container_id=buzzsprout-large-player&player=large'></script>
                </div>
        </div>


            <div class="radio-content-wrapper">

 
        <!-- EPISODES INDEX -->
        <div class="inner-wide">
            <div class="radio-episodes-container">


                <!-- MR 38 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/darkly-euphoric">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI38.webp" }}" alt="Darkly Euphoric"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 38</h5>
                                        <h2>Darkly Euphoric</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">Jan 15</div>
                        <div class="episode-genre">Vocal workouts and hopeful classics.</div>
                        <p>Notes on robot spouses, the future of friction, and some plush reverb to carry us into the holidays.</p>
                        <ol>
                        <li>Liars - No. 1 Against the Rush</li>
                        <li>Cold Cave - Double Lives in Single Beds</li>
                        <li>Telefon Tel Aviv - You are the Worst Thing in the World</li>
                        <li>The Horrors - Sea Within a Sea</li>
                        <li>ERAAS - Fang</li>
                        <li>Adult. - Tonight We Fall</li>
                        <li>A Place to Bury Strangers - Love Reaches Out (GIFT/Reality Delay Mixes)</li>                   
                        </ol>
                        <a href="/darkly-euphoric"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 37 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/first-things">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI37.webp" }}" alt="First Things"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 37</h5>
                                        <h2>First Things</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">Jan 1</div>
                        <div class="episode-genre">Churchy drone and astronaut music</div>
                        <p>Three songs that possess the righteously serene energy I fantasize about cultivating in the first minutes of a new year.</p>
                        <ol>
                        <li>Kali Malone - Spectacle of Ritual</li>
                        <li>Abul Mogard - Desires Are Reminiscences By Now</li>
                        <li>Autechre - VLetrmx21 (65% slower)</li>                      
                        </ol>
                        <a href="/first-things"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 36 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/holiday-lullaby">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI36.webp" }}" alt="Holiday Lullaby"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 36</h5>
                                        <h2>Holiday Lullaby</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">DEC 15</div>
                        <div class="episode-genre">Vocal workouts and hopeful classics.</div>
                        <p>Notes on robot spouses, the future of friction, and some plush reverb to carry us into the holidays.</p>
                        <ol>
                        <li>Julianna Barwick - Prizewinning</li>
                        <li>Matchess - Bellum Omnium Contra Omnes</li>
                        <li>Vril - Infinitum Eternis Anime</li>
                        <li>Air - Le Soleil Est Près de Moi (28% slower)</li>
                        <li>Eagles - I Can't Tell You Why (20% slower)</li>
                        <li>Voices From the Lake - Max</li>
                        <li>Me-Sheen - Sonic Lullaby</li>
                        <li>Rhos Male Voice Choir: Psalm 23 / Holy Night + Vril loop</li>                       
                        </ol>
                        <a href="/holiday-lullaby"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 35 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/slow-gold">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI35.webp" }}" alt="Slow Gold"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 35</h5>
                                        <h2>Slow Gold</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">DEC 1</div>
                        <div class="episode-genre">Slow motion <em>Breakfast Club</em> anthems and beautiful machines.</div>
                        <p>Tornados, egg foo young, suffering, and destroying the algorithm.</p>
                        <ol>
                            <li>Simple Minds - Don't You Forget About Me (38% slower)</li>
                            <li>Will Web - Spacewalk (30% slower)</li>
                            <li>The Hollies - The Air That I Breathe (20% slower)</li>
                            <li>Vladislav Delay - Huone (46% slower)</li>
                            <li>Swans - Leaving Meaning (20% slower)</li>
                            <li>Pole - Hafen (40% slower)</li>
                            <li>Aphex Twin - #1 (Cliffs) (42% slower)</li>
                            <li>The Cars - Jacki (31% slower)</li>
                        </ol>
                        <a href="/slow-gold"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 34 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/absorb-the-poison/">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI34.webp" }}" alt="Absorb the Poison"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 34</h5>
                                        <h2>Absorb The Poison</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">NOV 15</div>
                        <div class="episode-genre">Thomas Brinkmann, Tropic of Cancer, HTRK</div>
                        <p>An ode to Michael Clayton and the giddy illusion of renewal before death.</p>
                        <ol>
                        <li>Richie Hawtin + Thomas Brinkmann - 96:12/24:00 VR Concept</li>
                        <li>HTRK - Poison (Mika Vainio Remix)</li>
                        <li>TM404 - 202/303/303/303/606/606</li>
                        <li>Tropic of Cancer - Stop Suffering</li>
                        <li>µ-Ziq - Peppermint Aero Manzana</li>
                        </ol>
                        <a href="/absorb-the-poison/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 33 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/the-heart-keeps-time/">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI33.webp" }}" alt="The Heart Keeps Time"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 33</h5>
                                        <h2>The Heart Keeps Time</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">NOV 1</div>
                        <div class="episode-genre">Tape loops, field recordings, reverberated ballads.</div>
                        <p>Notes on time and strangeness, plus an hour-long soundtrack for Grace Wang's photography exhibition.</p>
                        <ol>
                            <li>James A. Reeves - The Heart Keeps Time</li>
                        </ol>
                        <a href="/the-heart-keeps-time"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 32 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/hallucination-soundtrack/">  
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI32.webp" }}" alt="Hallucination Soundtrack"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 32</h5>
                                        <h2>Hallucination Soundtrack</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">OCT 15</div>
                        <div class="episode-genre">Woozy reverberations for your next vision quest</div>
                        <p>Last night I dreamt my mother was alive and serving a delicious tea brewed from stones. I woke up pondering the feedback loop of life: is there anything we eat or drink that wasn’t once alive?</p>
                        <ol>
                            <li>Slowdive - Machine Gun (50% slower)</li>
                            <li>Belong - A Walk (22% slower)</li>
                            <li>Slowdive - Mousakka Chaos (20% slower)</li>
                            <li>Autechre - Bronchusevenmx24 (25% slower)</li>
                            <li>Sosena Gebre Eyesus - Save Us From Our Death</li>
                            <li>cv313 - Depths of Perception (Excerpt)</li>
                            <li>My Bloody Valentine - Only Shallow (45% slower)</li>
                            <li>My Bloody Valentine - Instrumental B</li>
                        </ol>
                        <a href="/hallucination-soundtrack/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 31 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/autumn-chrome">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI31.webp" }}" alt="Autumn Chrome"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 31</h5>
                                        <h2>Autumn Chrome</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">OCT 1</div>
                        <div class="episode-genre">Nothing but the Chromatics</div>
                        <p>A megamix so glossy it's nearly lacquered—plus notes on the Mariana Trench and unbearable weather.</p>
                        <ol>
                            <li>Chromatics - Lady Night Drive</li>
                            <li>Chromatics - The Page</li>
                            <li>Chromatics - Stiff as a Board</li>
                            <li>Chromatics - Running up that Hill</li>
                            <li>Chromatics - The Sound of Silence</li>
                            <li>Chromatics - Back from the Grave</li>
                            <li>Chromatics - Yes (Symmetry Remix)</li>
                            <li>Chromatics - Headlight's Glare</li>
                            <li>Chromatics - Disintegration</li>
                            <li>Chromatics - Into the Black</li>
                        </ol>
                        <a href="/autumn-chrome"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 30 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/the-stellar-sphere-2">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI30.webp" }}" alt="The Stellar Sphere"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 30</h5>
                                        <h2>The Stellar Sphere</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">SEP 15</div>
                        <div class="episode-genre">Biosphere, Romance, Minor Hexachords, Sa Pa</div>
                        <p>Five new favorite songs that make 2025 feel worthwhile.</p>
                        <ol>
                            <li>Biosphere - The Way of Time</li>
                            <li>Romance - Leave Her to Heaven</li>
                            <li>Minor Hexachords - Minor Concession</li>
                            <li>Sa Pa - Nonspiration</li>
                            <li>Rue des Garderies - Jiddu</li>
                        </ol>
                        <a href="/the-stellar-sphere-2"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 29 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI29.webp" }}" alt="Six Broken Dreams"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 29</h5>
                                        <h2>Six Broken Dreams</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">SEP 1</div>
                        <div class="episode-genre">Dream chatter mixed with low-key classics</div>
                        <p>Twenty-three minutes of dream talk that drifts in and out of focus like dreams do.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/six-broken-dreams"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 28 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI28.webp" }}" alt="Untitled Heat"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 28</h5>
                                        <h2>Untitled Heat</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">AUG 15</div>
                        <div class="episode-genre">DVA Damas, Drissi El-Abbassi, Broken English Club</div>
                        <p>Hunting for freedom through repetition.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/untitled-heat"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 27 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI27.webp" }}" alt="Remembering Lake Superior"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 27</h5>
                                        <h2>Remembering Lake Superior</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">AUG 1</div>
                        <div class="episode-genre">Porter Ricks, Mammo, Loscil, Polmo Popo</div>
                        <p>Forty minutes of marine-themed dub techno surrounded by big pine and cold water.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/remembering-lake-superior"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 26 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI26.webp" }}" alt="Mirror Games"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 26</h5>
                                        <h2>Mirror Games</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUL 15</div>
                        <div class="episode-genre">Gnod, Anna Domino, Googoosh</div>
                        <p>Here I am, astral projecting in 1983 to bring you five sun-bleached slabs of summertime music.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/mirror-games"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 25 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI25.webp" }}" alt="Ghosts and Gods"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 25</h5>
                                        <h2>Ghosts and Gods</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUL 1</div>
                        <div class="episode-genre">M83, Gerry Rafferty, Variant</div>
                        <p>At some point the screen became the world and now we're haunting it.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/ghosts-and-gods"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 24 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI24.webp" }}" alt="Escape from Death Prom"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 24</h5>
                                        <h2>Escape from Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUN 15</div>
                        <div class="episode-genre">Bobby Vinton, Drugdealer, Naomi Akimoto</div>
                        <p>The ghosts of old standards, summoned for whatever comes next.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/escape-from-death-prom"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 23 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI23.webp" }}" alt="Desire Is a Demon"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 23</h5>
                                        <h2>Desire Is a Demon</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUN 1</div>
                        <div class="episode-genre">Heavyweight dub and philosophy</div>
                        <p>Martin Essig lays down the horror of insatiable desire and it sounds like a diagnosis of this moment.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/desire-is-a-demon"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 22 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI22.webp" }}" alt="Dreamland"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 22</h5>
                                        <h2>Dreamland</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">MAY 15</div>
                        <div class="episode-genre">Charlie Megira, Midwife, Windy & Carl</div>
                        <p>The first gods were probably born in dreams.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/dreamland"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 21 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI21.webp" }}" alt="Destroyer of Obstacles"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 21</h5>
                                        <h2>Destroyer of Obstacles</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">MAY 1</div>
                        <div class="episode-genre">Goma ritual chants, tape hiss, static, and reverb</div>
                        <p>An offering of static and fire.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/destroyer-of-obstacles"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 20 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI20.webp" }}" alt="Dead Trees Bloom Flowers"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 20</h5>
                                        <h2>Dead Trees Bloom Flowers</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">APR 15</div>
                        <div class="episode-genre">Unspecified Enemies, 2814, Sugar Plant</div>
                        <p>Bad fortunes are tied to a rack while a Buddhist chant bleeds through my favorite song of the year.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/dead-trees-bloom-flowers"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 19 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI19.webp" }}" alt="Exit the Tiger"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 19</h5>
                                        <h2>Exit the Tiger</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">APR 1</div>
                        <div class="episode-genre">Yu Ching, James Chen, Alex Zhang Hungtai</div>
                        <p>High walls surround the Confucian temple because you must work for the knowledge within.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/exit-the-tiger"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 18 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI18.webp" }}" alt="The Obsidian Turtle Governs the North"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 18</h5>
                                        <h2>The Obsidian Turtle Governs the North</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">MAR 15</div>
                        <div class="episode-genre">Datacide, Matchess, and vintage Taiwanese ballads</div>
                        <p>Broadcasting from somewhere between the bells of a temple and the heat of a night market.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/the-obsidian-turtle-governs-the-north"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 17 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI17.webp" }}" alt="The Red Curtain"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 17</h5>
                                        <h2>The Red Curtain</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">MAR 1</div>
                        <div class="episode-genre">Angelo Badalamenti, Chris Isaak, Julee Cruise</div>
                        <p>A tribute to David Lynch that roams through ruined ballads and slow-motion noir.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/the-red-curtain"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 16 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI16.webp" }}" alt="Return to Death Prom"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 16</h5>
                                        <h2>Return to Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">FEB 15</div>
                        <div class="episode-genre">Jessica Pratt, Jeanette, Connie Francis</div>
                        <p>Where the reverb is heavy and the souls are haunted.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/return-to-death-prom"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 15 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI15.webp" }}" alt="Slow Vessels"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 15</h5>
                                        <h2>Slow Vessels</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">FEB 1</div>
                        <div class="episode-genre">TM404, Topdown Dialectic, Echospace</div>
                        <p>I'm returning to my spiritual practice of slowing techno down to a crawl.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/slow-vessels"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 14 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI14.webp" }}" alt="Strange Shapes in the Night"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 14</h5>
                                        <h2>Strange Shapes in the Night</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JAN 15</div>
                        <div class="episode-genre">Earth, Joy Division, The Field</div>
                        <p>Dedicated to the American tradition of talking to God through car-wreck calendars and junkyard rockets.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/strange-shapes-in-the-night"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 13 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI13.webp" }}" alt="Holy Ruins"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 13</h5>
                                        <h2>Holy Ruins</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JAN 1</div>
                        <div class="episode-genre">Roxy Music, Nancy Sinatra, and holy imperfection</div>
                        <p>It's the first day of a new year, and I'm thinking about accidental laughter.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/holy-ruins"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 12 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI12.webp" }}" alt="Professional Holiday Party"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 12</h5>
                                        <h2>Professional Holiday Party</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">DEC 15, 2024</div>
                        <div class="episode-genre">Five joyous classics from Chicago, Detroit, and Berlin</div>
                        <p>Sing along: "If snow was black, I'd wear black shades and drive a black car."</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/professional-holiday-party"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 11 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI11.webp" }}" alt="The Heart Accumulates Microcracks"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 11</h5>
                                        <h2>The Heart Accumulates Microcracks</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">DEC 1, 2024</div>
                        <div class="episode-genre">Psychedelic lamentations and Alabama soul</div>
                        <p>A Very Kind Listener requested a soundtrack to accommodate a slowly breaking heart.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/the-heart-accumulates-microcracks"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 10 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI10.webp" }}" alt="Brutal Times"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 10</h5>
                                        <h2>Brutal Times</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">NOV 15, 2024</div>
                        <div class="episode-genre">Muslimgauze, Panasonic, Demdike Stare</div>
                        <p>Because true freedom is not thinking about the president every day.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/brutal-times/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 9 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI09.webp" }}" alt="There Will Be No Armageddon"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 9</h5>
                                        <h2>There Will Be No Armageddon</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">NOV 1, 2024</div>
                        <div class="episode-genre">Union Jack, Spiritualized, T. Rex</div>
                        <p>As we teeter on the edge of an unpleasant future, here are five of the most reassuring songs I know.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/there-will-be-no-armageddon/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 8 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI08.webp" }}" alt="Monochrome Candy"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 8</h5>
                                        <h2>Monochrome Candy</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">OCT 15, 2024</div>
                        <div class="episode-genre">A soundtrack for C. to paint to</div>
                        <p>She likes synthesizers that tilt toward the tragic but has no patience for treacle.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/monochrome-candy/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 7 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI07.webp" }}" alt="Two Million Miles to Earth"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 7</h5>
                                        <h2>Two Million Miles to Earth</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">OCT 1, 2024</div>
                        <div class="episode-genre">A half-speed electronic classic from 1994</div>
                        <p>Embrace speed. Groove on distraction. Find god in the liquid crystal glow.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/two-million-miles-to-earth/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 6 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI06.webp" }}" alt="Five Early Autumn Classics"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 6</h5>
                                        <h2>Five Early Autumn Classics</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">SEP 15, 2024</div>
                        <div class="episode-genre">Gas, Aphex Twin, Midwife, Sonic Youth, Seefeel</div>
                        <p>Analog media is better for hauntings.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/five-early-autumn-classics/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 5 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI05.webp" }}" alt="The Tannhäuser Gate"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 5</h5>
                                        <h2>The Tannhäuser Gate</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">SEP 1, 2024</div>
                        <div class="episode-genre">Blanck Mass, Alessandro Cortini , M83</div>
                        <p>Anything worthwhile rests on a knife's edge. I like to think of this zone as the Tannhäuser Gate.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/the-tannhauser-gate"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 4 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI04.webp" }}" alt="Slow-Motion Machines"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 4</h5>
                                        <h2>Slow-Motion Machines</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">AUG 15, 2024</div>
                        <div class="episode-genre">Pitched-down electric classics circa 1998</div>
                        <p>Slowing down my favorite songs has become a spiritual practice.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/slow-motion-machines/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 3 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI03.webp" }}" alt="Night Drive"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 3</h5>
                                        <h2>Night Drive</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">AUG 1, 2024</div>
                        <div class="episode-genre">Chromatics, Robert Görl, Tomo Akikawabaya</div>
                        <p>Some reassuring songs for a midnight drive: sleek and glossy like the sight of neon washing across your hood.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/midnight-radio-003-night-drive/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 2 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI02.webp" }}" alt="Death Prom"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 2</h5>
                                        <h2>Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUL 15, 2024</div>
                        <div class="episode-genre">Dirty Beaches, Annie Rae, Suicide, Richard Swift</div>
                        <p>It's tempting to classify Death Prom as nostalgia but it is a haunting.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/midnight-radio-002-death-prom/"><button>More</button></a>
                    </div>
                </article>

                <!-- MR 1 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI01.webp" }}" alt="Heatwave"/>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 1</h5>
                                        <h2>Heatwave</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">JUL 1, 2024</div>
                        <div class="episode-genre">Stevie Wonder, Sugar Plant, Actress, Suicide, Füxa</div>
                        <p>Kicking off with a stone summertime classic and mountains of glorious reverb.</p>
                        <ol>
                            <li>Song 1</li>
                            <li>Song 2</li>
                            <li>Song 3</li>
                            <li>Song 4</li>
                            <li>Song 5</li>
                        </ol>
                        <a href="/heatwave/"><button>More</button></a>
                    </div>
                </article>

            </div>
        </div>

    </div>
    {{/post}}
</main>