{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer radio-page">
    {{#post}}
    
    <div class="radio-hero-wrapper">
        <div class="image-slider">
            <img src="{{asset "/img/midnight.webp" }}" alt="Somewhere in Arkansas">
        </div>
        
        <div class="radio-hero-content">
            <h1>Midnight<br>Radio</h1>    
            <div class="post-extract">
                <p>Notes on surviving the 21st century and a mixtape delivered 'round midnight on the 1st and 15th of the month.</p>
            </div>
        </div>
    </div>

    <div class="radio-caption">
        Caravaggio, Saint Jerome in His Study (1604)
    </div>

    <div class="radio-content-wrapper">
        <div class="inner-wide">
            <article class="midnight-page post-full is-page">
                <div class="midnight-blurb">
                    {{content}}

                    {{#if @member}}<br><em>Thank you for being a rare and wonderful Midnight Radio Member.</em>
                    {{else}}{{> "signup"}}  
                    {{/if}}
                </div>

                <div id='buzzsprout-large-player'>
                    <script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/2541956.js?container_id=buzzsprout-large-player&player=large'></script>
                </div>
            </article>  
        </div>
 
        <!-- EPISODES INDEX -->
        <div class="inner-wide">
            <div class="radio-episodes-container">
                
                <!-- 36-->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                                <img
                                    class="post-card-image bg-full-image bg-fade-in"
                                    src="{{asset "/mr/MRI36.webp" }}" alt="Holiday Lullaby"
                                    alt="Holiday Lullaby"
                                />
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 36</h5>
                                        <h2>Holiday Lullaby</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <div class="episode-date">DEC 15</div>
                        <div class="episode-genre">Vocal workouts and hopeful classics.</div>
                        <ol>
                            <li>Julianna Barwick - Prizewinning</li>
                            <li>Matchess - Bellum Omnium Contra Omnes</li>
                            <li>Vril - Infinitum Eternis Anime</li>
                            <li>Air - Le Soleil Est Près de Moi (28% slower)</li>
                            <li>Eagles - I Can’t Tell You Why (20% slower)</li>
                            <li>Voices From the Lake - Max</li>
                            <li>Me-Sheen - Sonic Lullaby</li>
                            <li>Male Voice Choir: Psalm 23 / Holy Night + Vril loop</li>
                        </ol>
                        <button><a href="/holiday-lullaby">More</a></button>
                    </div>
                </article>

                <!-- Episode Template -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <img src="{{asset "/mr/MRI35.webp" }}" alt="Slow Gold" />
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <h5>Midnight Radio 35</h5>
                        <h2><a href="/slow-gold">Slow Gold</a></h2>
                        <p class="radio-blurb">Tornados, egg foo young, suffering, and destroying the algorithm.</p>
                        <p class="radio-genre">Slow motion <em>Breakfast Club</em> anthems and beautiful machines.</p>
                    </div>
                </article>

            </div>
        </div>

    </div>
    {{/post}}
</main>