{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer radio-page">
    {{#post}}
    
    <div class="radio-hero-wrapper">
        <div class="image-slider">
            <img src="{{asset "/img/midnight.webp" }}" alt="Saint Jerome in His Study by Caravaggio"/>
        </div>
        
        <div class="radio-hero-content">
            <h1>Midnight<br>Radio</h1>    
            <div class="post-extract">
                <p>Notes on surviving the 21st century and a mixtape delivered 'round midnight on the 1st and 15th of the month.</p>
            </div>
        </div>
            <div class="radio-caption">
        Caravaggio, Saint Jerome in His Study (1604)
    </div>
    </div>

        <div class="midnight-info">
            <div class="midnight-blurb">
                {{content}}

                {{#if @member}}<br><em>Thank you for being a rare and wonderful Midnight Radio Member.</em>
                {{else}}{{> "signup"}}  
                {{/if}}
            </div>

            <div id='buzzsprout-large-player'>
                <div id='buzzsprout-large-player'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/2541955.js?container_id=buzzsprout-large-player&player=large'></script>
            </div>
        </div>


            <div class="radio-content-wrapper">

 
        <!-- EPISODES INDEX -->
        <div class="inner-wide">
            <div class="radio-episodes-container">


                <!-- MR 38 -->
                <article class="radio-episode-row">
                    <div class="episode-cover">
                        <div class="post-card bg-dark bg-full">
                            <a href="/darkly-euphoric">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI38.webp" }}" alt="Darkly Euphoric"/>
                            </a>
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 38</h5>
                                        <h2>Darkly Euphoric</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="episode-spacer"></div>
                    <div class="episode-info">
                        <a href="/darkly-euphoric"> 
                            <div class="episode-date">Jan 15</div>
                            <div class="episode-genre">Glittery future-shock goth-punk with a Very Special Guest</div>
                            <p>The title of tonight’s episode comes from Mike Doyle, a variant on Bruce Sterling’s 2009 announcement at a conference in Copenhagen that days of dark euphoria were upon us: intense digital pleasure that masks societal crisis.</p>
                            <ol>
                            <li>Liars - No. 1 Against the Rush</li>
                            <li>Cold Cave - Double Lives in Single Beds</li>
                            <li>Telefon Tel Aviv - You are the Worst Thing in the World</li>
                            <li>The Horrors - Sea Within a Sea</li>
                            <li>ERAAS - Fang</li>
                            <li>Adult. - Tonight We Fall</li>
                            <li>A Place to Bury Strangers - Love Reaches Out</li>                   
                            </ol>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
                            </svg>
                        </a>
                    </div>
                </article>

<!-- MR 37 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/first-things">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI37.webp" }}" alt="First Things"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 37</h5>
                        <h2>First Things</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/first-things"> 
            <div class="episode-date">Jan 1</div>
            <div class="episode-genre">Churchy drone and astronaut music</div>
            <p>Three songs that possess the righteously serene energy I fantasize about cultivating in the first minutes of a new year.</p>
            <ol>
            <li>Kali Malone - Spectacle of Ritual</li>
            <li>Abul Mogard - Desires Are Reminiscences By Now</li>
            <li>Autechre - VLetrmx21 (65% slower)</li>                      
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 36 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/holiday-lullaby">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI36.webp" }}" alt="Holiday Lullaby"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 36</h5>
                        <h2>Holiday Lullaby</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/holiday-lullaby"> 
            <div class="episode-date">DEC 15</div>
            <div class="episode-genre">Vocal workouts and hopeful classics.</div>
            <p>Notes on robot spouses, the future of friction, and some plush reverb to carry us into the holidays.</p>
            <ol>
            <li>Julianna Barwick - Prizewinning</li>
            <li>Matchess - Bellum Omnium Contra Omnes</li>
            <li>Vril - Infinitum Eternis Anime</li>
            <li>Air - Le Soleil Est Près de Moi (28% slower)</li>
            <li>Eagles - I Can't Tell You Why (20% slower)</li>
            <li>Voices From the Lake - Max</li>
            <li>Me-Sheen - Sonic Lullaby</li>
            <li>Rhos Male Voice Choir: Psalm 23 / Holy Night + Vril loop</li>                       
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 35 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/slow-gold">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI35.webp" }}" alt="Slow Gold"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 35</h5>
                        <h2>Slow Gold</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/slow-gold"> 
            <div class="episode-date">DEC 1</div>
            <div class="episode-genre">Slow motion <em>Breakfast Club</em> anthems and beautiful machines.</div>
            <p>Tornados, egg foo young, suffering, and destroying the algorithm.</p>
            <ol>
                <li>Simple Minds - Don't You Forget About Me (38% slower)</li>
                <li>Will Web - Spacewalk (30% slower)</li>
                <li>The Hollies - The Air That I Breathe (20% slower)</li>
                <li>Vladislav Delay - Huone (46% slower)</li>
                <li>Swans - Leaving Meaning (20% slower)</li>
                <li>Pole - Hafen (40% slower)</li>
                <li>Aphex Twin - #1 (Cliffs) (42% slower)</li>
                <li>The Cars - Jacki (31% slower)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 34 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/absorb-the-poison/">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI34.webp" }}" alt="Absorb the Poison"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 34</h5>
                        <h2>Absorb The Poison</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/absorb-the-poison/"> 
            <div class="episode-date">NOV 15</div>
            <div class="episode-genre">Thomas Brinkmann, Tropic of Cancer, HTRK</div>
            <p>An ode to Michael Clayton and the giddy illusion of renewal before death.</p>
            <ol>
            <li>Richie Hawtin + Thomas Brinkmann - 96:12/24:00 VR Concept</li>
            <li>HTRK - Poison (Mika Vainio Remix)</li>
            <li>TM404 - 202/303/303/303/606/606</li>
            <li>Tropic of Cancer - Stop Suffering</li>
            <li>µ-Ziq - Peppermint Aero Manzana</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 33 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-heart-keeps-time/">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI33.webp" }}" alt="The Heart Keeps Time"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 33</h5>
                        <h2>The Heart Keeps Time</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-heart-keeps-time"> 
            <div class="episode-date">NOV 1</div>
            <div class="episode-genre">Tape loops, field recordings, reverberated ballads.</div>
            <p>Notes on time and strangeness, plus an hour-long soundtrack for Grace Wang's photography exhibition.</p>
            <ol>
                <li>James A. Reeves - The Heart Keeps Time</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 32 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/hallucination-soundtrack/">  
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI32.webp" }}" alt="Hallucination Soundtrack"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 32</h5>
                        <h2>Hallucination Soundtrack</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/hallucination-soundtrack/"> 
            <div class="episode-date">OCT 15</div>
            <div class="episode-genre">Woozy reverberations for your next vision quest</div>
            <p>Last night I dreamt my mother was alive and serving a delicious tea brewed from stones. I woke up pondering the feedback loop of life: is there anything we eat or drink that wasn't once alive?</p>
            <ol>
                <li>Slowdive - Machine Gun (50% slower)</li>
                <li>Belong - A Walk (22% slower)</li>
                <li>Slowdive - Mousakka Chaos (20% slower)</li>
                <li>Autechre - Bronchusevenmx24 (25% slower)</li>
                <li>Sosena Gebre Eyesus - Save Us From Our Death</li>
                <li>cv313 - Depths of Perception (Excerpt)</li>
                <li>My Bloody Valentine - Only Shallow (45% slower)</li>
                <li>My Bloody Valentine - Instrumental B</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 31 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/autumn-chrome">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI31.webp" }}" alt="Autumn Chrome"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 31</h5>
                        <h2>Autumn Chrome</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/autumn-chrome"> 
            <div class="episode-date">OCT 1</div>
            <div class="episode-genre">Nothing but the Chromatics</div>
            <p>A megamix so glossy it's nearly lacquered—plus notes on the Mariana Trench and unbearable weather.</p>
            <ol>
                <li>Chromatics - Lady Night Drive</li>
                <li>Chromatics - The Page</li>
                <li>Chromatics - Stiff as a Board</li>
                <li>Chromatics - Running up that Hill</li>
                <li>Chromatics - The Sound of Silence</li>
                <li>Chromatics - Back from the Grave</li>
                <li>Chromatics - Yes (Symmetry Remix)</li>
                <li>Chromatics - Headlight's Glare</li>
                <li>Chromatics - Disintegration</li>
                <li>Chromatics - Into the Black</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 30 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-stellar-sphere-2">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI30.webp" }}" alt="The Stellar Sphere"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 30</h5>
                        <h2>The Stellar Sphere</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-stellar-sphere-2"> 
            <div class="episode-date">SEP 15</div>
            <div class="episode-genre">Biosphere, Romance, Minor Hexachords, Sa Pa</div>
            <p>Five new favorite songs that make 2025 feel worthwhile.</p>
            <ol>
                <li>Biosphere - The Way of Time</li>
                <li>Romance - Leave Her to Heaven</li>
                <li>Minor Hexachords - Minor Concession</li>
                <li>Sa Pa - Nonspiration</li>
                <li>Rue des Garderies - Jiddu</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 29 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/six-broken-dreams">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI29.webp" }}" alt="Six Broken Dreams"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 29</h5>
                        <h2>Six Broken Dreams</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/six-broken-dreams"> 
            <div class="episode-date">SEP 1</div>
            <div class="episode-genre">Dream chatter mixed with low-key classics</div>
            <p>Twenty-three minutes of dream talk that drifts in and out of focus like dreams do.</p>
            <ol>
                <li>Abul Mogard - Staring at the Sweeps of the Desert</li>
                <li>Black Polygons - Incarnat</li>
                <li>Seefeel - Rupt (Cut Mix)</li>
                <li>Transient Waves - Soulspace</li>
                <li>Intrusion - Love in Lofi (Remastered by Pole)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 28 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/untitled-heat">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI28.webp" }}" alt="Untitled Heat"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 28</h5>
                        <h2>Untitled Heat</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/untitled-heat"> 
            <div class="episode-date">AUG 15</div>
            <div class="episode-genre">DVA Damas, Drissi El-Abbassi, Broken English Club</div>
            <p>Hunting for freedom through repetition.</p>
            <ol>
                <li>Sixsixsevenfortyseven - I Stood There</li>
                <li>Jana & El Nashmy - 3al Bayez</li>
                <li>Erika - Tomorrow's Fires (Whodat Remix)</li>
                <li>DVA Damas - Wet Vision II</li>
                <li>Drissi El-Abbassi - Zedti Laadab Aliya</li>
                <li>Autechre - Clipper</li>
                <li>Broken English Club - Prayer Space</li>
                <li>Plastikman - Contain</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 27 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/remembering-lake-superior">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI27.webp" }}" alt="Remembering Lake Superior"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 27</h5>
                        <h2>Remembering Lake Superior</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/remembering-lake-superior"> 
            <div class="episode-date">AUG 1</div>
            <div class="episode-genre">Subaquatic</div>
            <p>Forty minutes of marine-themed dub techno surrounded by big pine and cold water.</p>
            <ol>
                <li>Loscil - Drained Lake</li>
                <li>Porter Ricks - Nautical Dub</li>
                <li>Polmo Popo - Aqua</li>
                <li>Variant - Ocean's End Revisited</li>
                <li>Black Polygons - Underwater</li>
                <li>Mammo - Traversing a Raincloud</li>
                <li>Deepchord - Oceanic</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 26 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/mirror-games">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI26.webp" }}" alt="Mirror Games"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 26</h5>
                        <h2>Mirror Games</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/mirror-games"> 
            <div class="episode-date">JUL 15</div>
            <div class="episode-genre">Warm weather echoes</div>
            <p>Here I am, astral projecting in 1983 to bring you five sun-bleached slabs of summertime music.</p>
            <ol>
                <li>Gnod - Peace at Home</li>
                <li>Anna Domino - Everyday I Don't</li>
                <li>Mystic AM - Caravanserai + Den of Thieves</li>
                <li>Googoosh - Gol Bi Goldoon</li>
                <li>Polmo Popo - Kiss Me Again and Again (Arthur Russell Cover)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 25 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/ghosts-and-gods">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI25.webp" }}" alt="Ghosts and Gods"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 25</h5>
                        <h2>Ghosts and Gods</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/ghosts-and-gods"> 
            <div class="episode-date">JUL 1</div>
            <div class="episode-genre">M83, Gerry Rafferty, Variant</div>
            <p>At some point the screen became the world and now we're haunting it.</p>
            <ol>
                <li>Suicide - Cheree</li>
                <li>Variant - Foil</li>
                <li>M83 - Don't Save Us From the Flames (Superpitcher Remix)</li>
                <li>Gerry Rafferty - Down the Line (30% slower)</li>
                <li>Basic Channel - Inversion (46% slower)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 24 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/escape-from-death-prom">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI24.webp" }}" alt="Escape from Death Prom"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 24</h5>
                        <h2>Escape from Death Prom</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/escape-from-death-prom"> 
            <div class="episode-date">JUN 15</div>
            <div class="episode-genre">One last nostalgia trip</div>
            <p>The ghosts of old standards, summoned for whatever comes next.</p>
            <ol>
                <li>Elvis Presley - Summer Kisses, Winter Tears (8-14% slower)</li>
                <li>M Fadzil & Clique Fantastique - Do'a</li>
                <li>Bobby Vinton - Sealed With a Kiss (20% slower)</li>
                <li>Drugdealer - Wild Motion</li>
                <li>Naomi Akimoto - 十六夜の月</li>
                <li>M83 - Moon Child</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 23 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/desire-is-a-demon">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI23.webp" }}" alt="Desire Is a Demon"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 23</h5>
                        <h2>Desire Is a Demon</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/desire-is-a-demon"> 
            <div class="episode-date">JUN 1</div>
            <div class="episode-genre">Heavyweight dub and philosophy</div>
            <p>Martin Essig lays down the horror of insatiable desire and it sounds like a diagnosis of this moment.</p>
            <ol>
                <li>Ghost Dubs - Chemical (18% slower)</li>
                <li>Pole - Berlin</li>
                <li>MMMD - Egoismo</li>
                <li>Biosphere - Houses on the Hill</li>
                <li>Basic Channel - Radiance I (31% slower)</li>
                <li>Heathered Pearls - Beach Shelter (Loscil Grind Remix)</li>
                <li>Keith - Flob Gob (Jukebox Mix)</li>
                <li>Rod Modell - Forester Park</li>
                <li>Civilistjävel! - A2</li>
                <li>Thomas Brinkmann - Maschine</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 22 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/dreamland">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI22.webp" }}" alt="Dreamland"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 22</h5>
                        <h2>Dreamland</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/dreamland"> 
            <div class="episode-date">MAY 15</div>
            <div class="episode-genre">Endless guitars</div>
            <p>The first gods were probably born in dreams.</p>
            <ol>
                <li>Charlie Megira - Tomorrow's Gone</li>
                <li>Midwife & Vyva Melinkolya - Hounds of Heaven</li>
                <li>Ensemble Economique - Your Lips Against Mine</li>
                <li>Windy & Carl - Lighthouse</li>
                <li>Füxa - Dreamlanding</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 21 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/destroyer-of-obstacles">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI21.webp" }}" alt="Destroyer of Obstacles"/>
            </a>   
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 21</h5>
                        <h2>Destroyer of Obstacles</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/destroyer-of-obstacles"> 
            <div class="episode-date">MAY 1</div>
            <div class="episode-genre">Goma ritual chants, tape hiss, static, and reverb</div>
            <p>An offering of static and fire.</p>
            <ol>
                <li>A drum loop from Woob's "Odonna" (Woob 1194, 1994)</li>
                <li>Goma ritual chants, tape hiss, static, and fifty-two pounds of reverb.</li>     
                <li>Hiroshi Yoshimura – Adelaide (Flora, 1987 | Bandcamp)</li>      
                <li>Some in-house synthesizers and a kick drum that, late at night, sounds like something knocking from the other side of the veil.</li>    
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 20 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/dead-trees-bloom-flowers">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI20.webp" }}" alt="Dead Trees Bloom Flowers"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 20</h5>
                        <h2>Dead Trees Bloom Flowers</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/dead-trees-bloom-flowers"> 
            <div class="episode-date">APR 15</div>
            <div class="episode-genre">Unspecified Enemies, 2814, Sugar Plant</div>
            <p>Bad fortunes are tied to a rack while a Buddhist chant bleeds through my favorite song of the year.</p>
            <ol>
                <li>Unspecified Enemies - Romance in the Age of Adaptive Feedback</li>
                <li>Tomo Akikawabaya - A Dream of No Pillow</li>
                <li>Brian Reitzell and Roger Joseph Manning Jr - Shibuya</li>
                <li>2814 - 新宿ゴールデン街 (Shinjuku Golden Street)</li>
                <li>Sugar Plant - Happy</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 19 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/exit-the-tiger">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI19.webp" }}" alt="Exit the Tiger"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 19</h5>
                        <h2>Exit the Tiger</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/exit-the-tiger"> 
            <div class="episode-date">APR 1</div>
            <div class="episode-genre">Yu Ching, James Chen, Alex Zhang Hungtai</div>
            <p>High walls surround the Confucian temple because you must work for the knowledge within.</p>
            <ol>
               <li>Yu Ching - Love</li>
                <li>姚苏蓉 (Yao Su-jung) - 磁性的迷惑 (Magnetic Seduction)</li>
                <li>James Chen - Summer in Taiwan</li>
                <li>Dirty Beaches - Low Rider / I Dream in Neon</li>
                <li>James Chen - Don't Be Discouraged</li>
                <li>Yu Ching - 桑桑 (Sun Sun)</li>
                <li>Alex Zhang Hungtai & Tseng Kuo Hung - Ten Swords</li>
             </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 18 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-obsidian-turtle-governs-the-north">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI18.webp" }}" alt="The Obsidian Turtle Governs the North"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 18</h5>
                        <h2>The Obsidian Turtle Governs the North</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-obsidian-turtle-governs-the-north"> 
            <div class="episode-date">MAR 15</div>
            <div class="episode-genre">Datacide, Matchess, and vintage Taiwanese ballads</div>
            <p>Broadcasting from somewhere between the bells of a temple and the heat of a night market.</p>
            <ol>
                <li>Datacide - Flowerhead</li>
                <li>Civilistjävel! - XVI</li>
                <li>Matchess - Of the Living</li>
                <li>Leyland Kirby - They Are All Dead, There Are No Skip At All</li>
                <li>Datacide - Deep Chair</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 17 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-red-curtain">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI17.webp" }}" alt="The Red Curtain"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 17</h5>
                        <h2>The Red Curtain</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-red-curtain"> 
            <div class="episode-date">MAR 1</div>
            <div class="episode-genre">Angelo Badalamenti, Chris Isaak, Julee Cruise</div>
            <p>A tribute to David Lynch that roams through ruined ballads and slow-motion noir.</p>
            <ol>
                <li>Angelo Badalamenti - Laura Palmer's Theme</li>
                <li>Rebekah Del Rio - Llorando</li>
                <li>Dean Hurley - Night Electricity Theme</li>
                <li>Bohren & Der Club of Gore - Constant Fear</li>
                <li>Roy Orbison - Crying</li>
                <li>Bobby Vinton - Blue Velvet</li>
                <li>Chris Isaak - Wicked Game (23% slower)</li>
                <li>The Paris Sisters - I Love How You Love Me</li>
                <li>Julee Cruise - Falling</li>
                <li>Angelo Badalamenti - Twin Peaks Theme</li>
                <li>Roy Orbison - In Dreams (20% slower)</li>
                <li>Rod Modell + Taka Noda - Untitled 2</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 16 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/return-to-death-prom">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI16.webp" }}" alt="Return to Death Prom"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 16</h5>
                        <h2>Return to Death Prom</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/return-to-death-prom"> 
            <div class="episode-date">FEB 15</div>
            <div class="episode-genre">Jessica Pratt, Jeanette, Connie Francis</div>
            <p>Where the reverb is heavy and the souls are haunted.</p>
            <ol>
                <li>Jeanette - Oí Tu Voz</li>
                <li>Jessica Pratt - Life Is</li>
                <li>Hasnah Haron - Hanya Padamu</li>
                <li>Dirty Beaches - True Blue + The Ronettes - Keep on Dancin'</li>
                <li>Connie Francis - Siboney</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 15 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/slow-vessels">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI15.webp" }}" alt="Slow Vessels"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 15</h5>
                        <h2>Slow Vessels</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/slow-vessels"> 
            <div class="episode-date">FEB 1</div>
            <div class="episode-genre">Heavy machinery</div>
            <p>I'm returning to my spiritual practice of slowing techno down to a crawl.</p>
            <ol>
                <li>TM404 - 202/303/303/303/606/606 (43% slower)</li>
                <li>Topdown Dialectic - A4 (44% slower)</li>
                <li>Echospace - Aequinoxium/Sunset/Abraxas (48% slower)</li>
                <li>Von Schommer - Wuerfel/Wuerfel Version (45% slower)</li>
                <li>IMAX - Concorde (47% slower)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 14 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/strange-shapes-in-the-night">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI14.webp" }}" alt="Strange Shapes in the Night"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 14</h5>
                        <h2>Strange Shapes in the Night</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/strange-shapes-in-the-night"> 
            <div class="episode-date">JAN 15</div>
            <div class="episode-genre">Earth, Joy Division, The Field</div>
            <p>Dedicated to the American tradition of talking to God through car-wreck calendars and junkyard rockets.</p>
            <ol>
                <li>Earth - Coda Maestoso in F(flat) Minor (Autechre Remix)</li>
                <li>The Field - Made of Steel, Made of Stone</li>
                <li>I-F - Space Invaders Are Smoking Grass</li>
                <li>Joy Division - Day of the Lords</li>
                <li>Temple Ov Saturn - Last Stand at Ankh Sanctuary</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 13 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/holy-ruins">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI13.webp" }}" alt="Holy Ruins"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 13</h5>
                        <h2>Holy Ruins</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/holy-ruins"> 
            <div class="episode-date">JAN 1</div>
            <div class="episode-genre">Roxy Music, Nancy Sinatra, and holy imperfection</div>
            <p>It's the first day of a new year, and I'm thinking about accidental laughter.</p>
            <ol>
                <li>Love, Inc - Life's a Gas</li>
                <li>Nancy Sinatra - Bang Bang (Midnight Radio Static Mix)</li>
                <li>Japancakes - Handguns & Firearms</li>
                <li>Chantssss - Swan</li>
                <li>DjNiraha & Lale Pishmari - Lali Lale</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 12 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/professional-holiday-party">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI12.webp" }}" alt="Professional Holiday Party"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 12</h5>
                        <h2>Professional Holiday Party</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/professional-holiday-party"> 
            <div class="episode-date">DEC 15, 2024</div>
            <div class="episode-genre">Five joyous classics from Chicago, Detroit, and Berlin</div>
            <p>Sing along: "If snow was black, I'd wear black shades and drive a black car."</p>
            <ol>
                <li>Mike Dunn - God Made Me Phunky</li>
                <li>SoleTech - Sole Waves</li>
                <li>Detroit Grand Pubahs - If Snow Was Black</li>
                <li>Quarks - I Walk (Superpitcher Schaffel Mix)</li>
                <li>Basic Channel - Phylyps Trak II</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 11 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-heart-accumulates-microcracks">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI11.webp" }}" alt="The Heart Accumulates Microcracks"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 11</h5>
                        <h2>The Heart Accumulates Microcracks</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-heart-accumulates-microcracks"> 
            <div class="episode-date">DEC 1, 2024</div>
            <div class="episode-genre">Psychedelic lamentations and Alabama soul</div>
            <p>A Very Kind Listener requested a soundtrack to accommodate a slowly breaking heart.</p>
            <ol>
                <li>Kim Sun + Shin Jung Hyun - The Man Who Must Leave</li>
                <li>O.V. Wright - Everybody Knows</li>
                <li>Chen Mei Feng - 誰能知道我的情 (Who Can Know My Love?)</li>
                <li>Dilber Doğan – Yıkılla Köyler (Destroyed Villages)</li>
                <li>M83 - Farewell/Goodbye + Je Vous Hais Petites Filles</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 10 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/brutal-times">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI10.webp" }}" alt="Brutal Times"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 10</h5>
                        <h2>Brutal Times</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/brutal-times/"> 
            <div class="episode-date">NOV 15, 2024</div>
            <div class="episode-genre">Muslimgauze, Panasonic, Demdike Stare</div>
            <p>Because true freedom is not thinking about the president every day.</p>
            <ol>
                <li>Muslimgauze - Ryoji Ikeda Remix #6</li>
                <li>Panasonic - Pan Finale</li>
                <li>Ectomorph - Crawl of the Cthulu</li>
                <li>Demdike Stare - Metamorphosis</li>
                <li>Grungerman - Fackeln Im Sturm</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 9 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/there-will-be-no-armageddon">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI09.webp" }}" alt="There Will Be No Armageddon"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 9</h5>
                        <h2>There Will Be No Armageddon</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/there-will-be-no-armageddon/"> 
            <div class="episode-date">NOV 1, 2024</div>
            <div class="episode-genre">Union Jack, Spiritualized, T. Rex</div>
            <p>As we teeter on the edge of an unpleasant future, here are five of the most reassuring songs I know.</p>
            <ol>
                <li>Union Jack - There Will Be No Armageddon</li>
                <li>Spiritualized - Ladies and Gentlemen, We're Floating in Space</li>
                <li>T. Rex - Cosmic Dancer</li>
                <li>Air - Le Soleil Est Près de Moi</li>
                <li>Gyeongsu & June - Lead to Curse</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 8 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/monochrome-candy">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI08.webp" }}" alt="Monochrome Candy"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 8</h5>
                        <h2>Monochrome Candy</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/monochrome-candy/"> 
            <div class="episode-date">OCT 15, 2024</div>
            <div class="episode-genre">A soundtrack for C. to paint to</div>
            <p>She likes synthesizers that tilt toward the tragic but has no patience for treacle.</p>
            <ol> 
                <li>Cliff Martinez & Gregory Tripi - Sister</li>
                <li>Cliff Martinez - I Drive</li>
                <li>Popnoname - Fembria</li>
                <li>The Black Dog - Vertical Grip on Reality</li>
                <li>Warrington-Runcorn New Town Development Plan - Aerial Views by Helicopter</li>
                <li>Romance - Never Will/Hymn to the Sea</li>
                <li>Dedekind Cut - De-Civilization</li>
                <li>Godspeed You! Black Emperor - Moya</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 7 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/two-million-miles-to-earth">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI07.webp" }}" alt="Two Million Miles to Earth"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 7</h5>
                        <h2>Two Million Miles to Earth</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/two-million-miles-to-earth/"> 
            <div class="episode-date">OCT 1, 2024</div>
            <div class="episode-genre">A half-speed electronic classic from 1994</div>
            <p>Embrace speed. Groove on distraction. Find god in the liquid crystal glow.</p>
            <ol> 
                <li>Richie Hawtin & Pete Namlook - A Million Miles to Earth (57%—89% slower)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 6 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/five-early-autumn-classics">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI06.webp" }}" alt="Five Early Autumn Classics"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 6</h5>
                        <h2>Five Early Autumn Classics</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/five-early-autumn-classics/"> 
            <div class="episode-date">SEP 15, 2024</div>
            <div class="episode-genre">Gas, Aphex Twin, Midwife, Sonic Youth, Seefeel</div>
            <p>Analog media is better for hauntings.</p>
            <ol>
                <li>Gas - Pop 02</li>
                <li>Aphex Twin - #19</li>
                <li>Midwife - Forever</li>
                <li>Sonic Youth - Superstar</li>
                <li>Seefeel - Filter Dub</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 5 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/the-tannhauser-gate">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI05.webp" }}" alt="The Tannhäuser Gate"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 5</h5>
                        <h2>The Tannhäuser Gate</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/the-tannhauser-gate"> 
            <div class="episode-date">SEP 1, 2024</div>
            <div class="episode-genre">Blanck Mass, Alessandro Cortini , M83</div>
            <p>Anything worthwhile rests on a knife's edge. I like to think of this zone as the Tannhäuser Gate.</p>
            <ol>
                <li>Blanck Mass - Chernobyl</li>
                <li>Alessandro Cortini - Gira</li>
                <li>M83 - On a White Lake, Near a Green Mountain</li>
                <li>(Blade Runner interlude)</li>
                <li>Kristoffer Lo - Front Row Gallows View</li>
                <li>Bremen - Entering Phase Two</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 4 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/slow-motion-machines">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI04.webp" }}" alt="Slow-Motion Machines"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 4</h5>
                        <h2>Slow-Motion Machines</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/slow-motion-machines/"> 
            <div class="episode-date">AUG 15, 2024</div>
            <div class="episode-genre">Pitched-down electric classics circa 1998</div>
            <p>Slowing down my favorite songs has become a spiritual practice.</p>
            <ol>
                <li>Richie Hawtin - 07 13-00 (54% slower)</li>
                <li>Pole - Modul (56% slower)</li>
                <li>Autechre - Yulquen (48% slower)</li>
                <li>Basic Channel - Radiance II (44% slower)</li>
                <li>Plastikman - Consumed (50% slower)</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 3 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/night-drive">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI03.webp" }}" alt="Night Drive"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 3</h5>
                        <h2>Night Drive</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/midnight-radio-003-night-drive/"> 
            <div class="episode-date">AUG 1, 2024</div>
            <div class="episode-genre">Chromatics, Robert Görl, Tomo Akikawabaya</div>
            <p>Some reassuring songs for a midnight drive: sleek and glossy like the sight of neon washing across your hood.</p>
            <ol> 
                <li>Glass Beads - City of Anger</li>
                <li>Tropic of Cancer - Court of Devotion</li>
                <li>Robert Görl - Mit Dir</li>
                <li>Chromatics - Lady Night Drive</li>
                <li>Tomo Akikawabaya - A Dream of No Pillow</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 2 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/midnight-radio-002-death-prom/">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI02.webp" }}" alt="Death Prom"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 2</h5>
                        <h2>Death Prom</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/midnight-radio-002-death-prom/"> 
            <div class="episode-date">JUL 15, 2024</div>
            <div class="episode-genre">Dirty Beaches, Annie Rae, Suicide, Richard Swift</div>
            <p>It's tempting to classify Death Prom as nostalgia but it is a haunting.</p>
            <ol>
                <li>Dirty Beaches - Lord Knows Best</li>
                <li>The Larados - Now the Parting Begins</li>
                <li>Annie Rae - Bang Bung Ranggaek</li>
                <li>Suicide - Surrender</li>
                <li>Richard Swift - Would You?</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

<!-- MR 1 -->
<article class="radio-episode-row">
    <div class="episode-cover">
        <div class="post-card bg-dark bg-full">
            <a href="/heatwave/">
            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI01.webp" }}" alt="Heatwave"/>
            </a>
            <div class="post-card-inside">
                <div class="post-card-content">          
                    <div class="big-title">
                        <h5>Midnight Radio 1</h5>
                        <h2>Heatwave</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="episode-spacer"></div>
    <div class="episode-info">
        <a href="/heatwave/"> 
            <div class="episode-date">JUL 1, 2024</div>
            <div class="episode-genre">Stevie Wonder, Sugar Plant, Actress, Suicide, Füxa</div>
            <p>Kicking off with a stone summertime classic and mountains of glorious reverb.</p>
            <ol>
                <li>Stevie Wonder - Jesus Children of America</li>
                <li>Sugar Plant - Rise</li>
                <li>Actress - Hubble</li>
                <li>Suicide - Cheree (Remix)</li>
                <li>Füxa - Karmaloop</li>
            </ol>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8" fill="none">
                <path d="M20.3536 4.31644C20.5488 4.12118 20.5488 3.8046 20.3536 3.60934L17.1716 0.427355C16.9763 0.232093 16.6597 0.232093 16.4645 0.427355C16.2692 0.622617 16.2692 0.9392 16.4645 1.13446L19.2929 3.96289L16.4645 6.79132C16.2692 6.98658 16.2692 7.30316 16.4645 7.49842C16.6597 7.69369 16.9763 7.69369 17.1716 7.49842L20.3536 4.31644ZM0 3.96289L4.37114e-08 4.46289L20 4.46289L20 3.96289L20 3.46289L-4.37114e-08 3.46289L0 3.96289Z">
            </svg>
        </a>
    </div>
</article>

            </div>
        </div>

    </div>
    {{/post}}
</main>