{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer radio-page">
    {{#post}}
    
    <div class="radio-hero-wrapper">
        <div class="image-slider">
            <img src="{{asset "/img/midnight.webp" }}" alt="Somewhere in Arkansas">
        </div>
        
        <div class="radio-hero-content">
            <h1>Midnight<br>Radio</h1>    
            <div class="post-extract">
                <p>Notes on surviving the 21st century and a mixtape delivered 'round midnight on the 1st and 15th of the month.</p>
            </div>
        </div>
    </div>

    <div class="radio-caption">
        Caravaggio, Saint Jerome in His Study (1604)
    </div>

    <!-- All content after hero goes in this container -->
    <div class="radio-content-wrapper">
        <!-- ADD THIS MISSING SECTION: -->
        <div class="inner-wide">
            <article class="midnight-page post-full is-page">
                <div class="midnight-blurb">
                    {{content}}

                    {{#if @member}}<br><em>Thank you for being a rare and wonderful Midnight Radio Member.</em>
                    {{else}}{{> "signup"}}  
                    {{/if}}
                </div>

                <div id='buzzsprout-large-player'>
                    <script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/2541955.js?container_id=buzzsprout-large-player&player=large'></script>
                </div>
            </article>  
        </div>
 
        <!-- EPISODES -->
        
        <div class="inner-wide">
            <div class="post-feed">
                <div class="grid">
                    
                    <!-- MR 36 -->
                    <article>
                        <a href="/holiday-lullaby" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI36.webp" }}" alt="Holiday Lullaby">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 36</h5>
                                        <h2>Holiday Lullaby</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Robot love and the glory of reverb.
                            <span class="grid-genre">Vocal workouts and hopeful classics.</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 35 -->
                    <article>
                        <a href="/slow-gold" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI35.webp" }}" alt="Slow Gold">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 35</h5>
                                        <h2>Slow Gold</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Tornados, egg foo young, suffering, and destroying the algorithm.
                            <span class="grid-genre">Slow motion <em>Breakfast Club</em> anthems and beautiful machines.</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 34 -->
                    <article>
                        <a href="/absorb-the-poison/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI34.webp" }}" alt="Absorb the Poison">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 34</h5>
                                        <h2>Absorb The Poison</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>An ode to Michael Clayton and the giddy illusion of renewal before death.
                            <span class="grid-genre">Thomas Brinkmann, Tropic of Cancer, HTRK</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 33 -->
                    <article>
                        <a href="/the-heart-keeps-time" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI33.webp" }}" alt="The Heart Keeps TIme">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 33</h5>
                                        <h2>The Heart Keeps Time</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Notes on time and strangeness, plus an hour-long soundtrack for Grace Wang's photography exhibition.
                            <span class="grid-genre">Tape loops, field recordings, reverberated ballads.</span></p>
                        </div>
                        </a>
                    </article> 

                    <!-- MR 32 -->
                    <article>
                        <a href="/hallucination-soundtrack/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI32.webp" }}" alt="Hallucination Soundtrack">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 32</h5>
                                        <h2>Hallucination Soundtrack</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Some woozy reverberations for your next vision quest.
                            <span class="grid-genre">Pitched-down shoegaze and some Autechre</span></p>
                        </div>
                        </a>
                    </article>
                                         
                    <!-- MR 31 -->
                    <article>
                        <a href="/autumn-chrome" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI31.webp" }}" alt="Autumn Chrome">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 31</h5>
                                        <h2>Autumn Chrome</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>A megamix so glossy it's nearly lacquered—plus notes on the Mariana Trench and unbearable weather.
                            <span class="grid-genre">Nothing but the Chromatics</span></p>
                        </div>
                        </a>
                    </article>

                     <!-- MR 30 -->
                    <article>                            
                        <a href="/the-stellar-sphere-2" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI30.webp" }}" alt="The Stellar Sphere">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 30</h5>
                                        <h2>The Stellar Sphere</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Five new favorite songs that make 2025 feel worthwhile.
                            <span class="grid-genre">Biosphere, Romance, Minor Hexachords, Sa Pa</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 29 -->
                    <article>
                        <a href="/six-broken-dreams" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI29.webp" }}" alt="Six Broken Dreams">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 29</h5>
                                        <h2>Six Broken Dreams</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Twenty-three minutes of dream talk that drifts in and out of focus like dreams do.
                            <span class="grid-genre">Dream chatter mixed with low-key classics</span></p>
                        </div>
                        </a>
                    </article>
                    
                    <!-- MR 28 -->
                    <article>
                        <a href="/untitled-heat" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI28.webp" }}" alt="Untitled Heat">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 28</h5>
                                        <h2>Untitled Heat</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Hunting for freedom through repetition.
                            <span class="grid-genre">DVA Damas, Drissi El-Abbassi, Broken English Club</span></p>
                        </div>
                        </a>
                    </article>
                    
                    <!-- MR 27 -->
                    <article>
                        <a href="/remembering-lake-superior" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI27.webp" }}" alt="Remembering Lake Superior">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 27</h5>
                                        <h2>Remembering Lake Superior</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Forty minutes of marine-themed dub techno surrounded by big pine and cold water.
                            <span class="grid-genre">Porter Ricks, Mammo, Loscil, Polmo Popo</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 26 -->
                    <article>
                        <a href="/mirror-games" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI26.webp" }}" alt="Mirror Games">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 26</h5>
                                        <h2>Mirror Games</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Here I am, astral projecting in 1983 to bring you five sun-bleached slabs of summertime music.
                            <span class="grid-genre">Gnod, Anna Domino, Googoosh</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 25 -->
                    <article>
                        <a href="/ghosts-and-gods" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI25.webp" }}" alt="Ghosts and Gods">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 25</h5>
                                        <h2>Ghosts and Gods</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>At some point the screen became the world and now we're haunting it.
                            <span class="grid-genre">M83, Gerry Rafferty, Variant</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 24 -->
                    <article>
                        <a href="/escape-from-death-prom" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI24.webp" }}" alt="Escape from Death Prom">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 24</h5>
                                        <h2>Escape from Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>The ghosts of old standards, summoned for whatever comes next.
                            <span class="grid-genre">Bobby Vinton, Drugdealer, Naomi Akimoto</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 23 -->
                    <article>
                        <a href="/desire-is-a-demon" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI23.webp" }}" alt="Desire Is a Demon">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 23</h5>
                                        <h2>Desire Is a Demon</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Martin Essig lays down the horror of insatiable desire and it sounds like a diagnosis of this moment. 
                            <span class="grid-genre">Heavyweight dub and philosophy</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 22 -->
                    <article>
                        <a href="/dreamland" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI22.webp" }}" alt="Dreamland">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 22</h5>
                                        <h2>Dreamland</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>The first gods were probably born in dreams. 
                            <span class="grid-genre">Charlie Megira, Midwife, Windy & Carl</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 21 -->
                    <article>
                        <a href="/destroyer-of-obstacles" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI21.webp" }}" alt="Destroyer of Obstacles">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 21</h5>
                                        <h2>Destroyer of Obstacles</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>An offering of static and fire. 
                            <span class="grid-genre">Goma ritual chants, tape hiss, static, and reverb</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 20 -->
                    <article>
                        <a href="/dead-trees-bloom-flowers" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI20.webp" }}" alt="Dead Trees Bloom Flowers">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 20</h5>
                                        <h2>Dead Trees Bloom Flowers</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Bad fortunes are tied to a rack while a Buddhist chant bleeds through my favorite song of the year. 
                            <span class="grid-genre">Unspecified Enemies, 2814, Sugar Plant</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 19 -->
                    <article>
                        <a href="/exit-the-tiger" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI19.webp" }}" alt="Exit the Tiger">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 19</h5>
                                        <h2>Exit the Tiger</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>High walls surround the Confucian temple because you must work for the knowledge within. 
                            <span class="grid-genre">Yu Ching, James Chen, Alex Zhang Hungtai</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 18 -->
                    <article>
                        <a href="/the-obsidian-turtle-governs-the-north" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI18.webp" }}" alt="The Obsidian Turtle Governs the North">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 18</h5>
                                        <h2>The Obsidian Turtle Governs the North</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Broadcasting from somewhere between the bells of a temple and the heat of a night market. 
                            <span class="grid-genre">Datacide, Matchess, and vintage Taiwanese ballads</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 17 -->
                    <article>
                        <a href="/the-red-curtain" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI17.webp" }}" alt="The Red Curtain">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 17</h5>
                                        <h2>The Red Curtain</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>A tribute to David Lynch that roams through ruined ballads and slow-motion noir.  
                            <span class="grid-genre">Angelo Badalamenti, Chris Isaak, Julee Cruise</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 16 -->
                    <article>
                        <a href="/return-to-death-prom" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI16.webp" }}" alt="Return to Death Prom">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 16</h5>
                                        <h2>Return to Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text radio-text">
                            <div></div>
                            <p>Where the reverb is heavy and the souls are haunted.  
                            <span class="grid-genre">Jessica Pratt, Jeanette, Connie Francis</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 15 -->
                    <article>
                        <a href="/slow-vessels" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI15.webp" }}" alt="Slow Vessels">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 15</h5>
                                        <h2>Slow Vessels</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>I'm returning to my spiritual practice of slowing techno down to a crawl.  
                            <span class="grid-genre">TM404, Topdown Dialectic, Echospace</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 14 -->
                    <article>
                        <a href="/strange-shapes-in-the-night" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI14.webp" }}" alt="Strange Shapes in the Night">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 14</h5>
                                        <h2>Strange Shapes in the Night</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Dedicated to the American tradition of talking to God through car-wreck calendars and junkyard rockets.  
                            <span class="grid-genre">Earth, Joy Division, The Field</span></p>
                        </div>
                        </a>
                    </article>

                    
                    <!-- MR 13 -->
                    <article>
                        <a href="/holy-ruins" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI13.webp" }}" alt="Holy Ruins">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 13</h5>
                                        <h2>Holy Ruins</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>It's the first day of a new year, and I'm thinking about accidental laughter.  
                            <span class="grid-genre">Roxy Music, Nancy Sinatra, and holy imperfection</span></p>
                        </div>
                        </a>
                    </article> 
                    
                    <!-- MR 12 -->
                    <article>
                        <a href="/professional-holiday-party" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI12.webp" }}" alt="Professional Holiday Party">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 12</h5>
                                        <h2>Professional Holiday Party</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Sing along: “If snow was black, I'd wear black shades and drive a black car.” 
                            <span class="grid-genre">Five joyous classics from Chicago, Detroit, and Berlin</span></p>
                        </div>
                        </a>
                    </article> 
                    
                    <!-- MR 11 -->
                    <article>
                        <a href="/the-heart-accumulates-microcracks" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI11.webp" }}" alt="The Heart Accumulates Microcracks">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 11</h5>
                                        <h2>The Heart Accumulates Microcracks</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>A Very Kind Listener requested a soundtrack to accommodate a slowly breaking heart. 
                            <span class="grid-genre">Psychedelic lamentations and Alabama soul</span></p>
                        </div>
                        </a>
                    </article> 


                    <!-- MR 10 -->
                    <article>
                        <a href="/brutal-times/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI10.webp" }}" alt="Brutal TImes">

                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 10</h5>
                                        <h2>Brutal TImes</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Because true freedom is not thinking about the president every day.
                            <span class="grid-genre">Muslimgauze, Panasonic, Demdike Stare</span></p>
                        </div>
                        </a>
                    </article> 

                    <!-- MR 9 -->
                    <article>
                        <a href="/there-will-be-no-armageddon/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI09.webp" }}" alt="There Will Be No Armageddon">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 9</h5>
                                        <h2>There Will Be No Armageddon</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>As we teeter on the edge of an unpleasant future, here are five of the most reassuring songs I know.
                            <span class="grid-genre">Union Jack, Spiritualized, T. Rex</span></p>
                        </div>
                        </a>
                    </article> 

                    <!-- MR 8 -->
                    <article>
                        <a href="/monochrome-candy/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI08.webp" }}" alt="Monochrome Candy">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 8</h5>
                                        <h2>Monochrome Candy</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>She likes synthesizers that tilt toward the tragic but has no patience for treacle.
                            <span class="grid-genre">A soundtrack for C. to paint to</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 7 -->
                    <article>
                        <a href="/two-million-miles-to-earth/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI07.webp" }}" alt="Two Million Miles to Earth">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 7</h5>
                                        <h2>Two Million Miles to Earth</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Embrace speed. Groove on distraction. Find god in the liquid crystal glow.
                            <span class="grid-genre">A half-speed electronic classic from 1994</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 6 -->
                    <article>
                        <a href="/five-early-autumn-classics/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI06.webp" }}" alt="Five Early Autumn Classics">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 6</h5>
                                        <h2>Five Early Autumn Classics</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Analog media is better for hauntings.
                            <span class="grid-genre">Gas, Aphex Twin, Midwife, Sonic Youth, Seefeel</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 5 -->
                    <article>
                        <a href="/the-tannhauser-gate" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI05.webp" }}" alt="The Tannhäuser Gate">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 5</h5>
                                        <h2>The Tannhäuser Gate</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Anything worthwhile rests on a knife's edge. I like to think of this zone as the Tannhäuser Gate.
                            <span class="grid-genre">Blanck Mass, Alessandro Cortini , M83</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 4 -->
                    <article>
                        <a href="/slow-motion-machines/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI04.webp" }}" alt="Slow-Motion Machines">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 4</h5>
                                        <h2>Slow-Motion Machines</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Slowing down my favorite songs has become a spiritual practice.
                            <span class="grid-genre">Pitched-down electric classics circa 1998</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 3 -->
                    <article>
                        <a href="/midnight-radio-003-night-drive/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI03.webp" }}" alt="Night Drive">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 3</h5>
                                        <h2>Night Drive</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text radio-text">
                            <p>Some reassuring songs for a midnight drive: sleek and glossy like the sight of neon washing across your hood.
                            <span class="grid-genre">Chromatics, Robert Görl, Tomo Akikawabaya</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 2 -->
                    <article>
                        <a href="/midnight-radio-002-death-prom/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI02.webp" }}" alt="Heatwave">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 2</h5>
                                        <h2>Death Prom</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>It's tempting to classify Death Prom as nostalgia but it is a haunting.
                            <span class="grid-genre">Dirty Beaches, Annie Rae, Suicide, Richard Swift</span></p>
                        </div>
                        </a>
                    </article>

                    <!-- MR 1 -->
                    <article>
                        <a href="/heatwave/" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            <img class="post-card-image bg-full-image bg-fade-in" src="{{asset "/mr/MRI01.webp" }}" alt="Heatwave">
                            <div class="post-card-inside">
                                <div class="post-card-content">          
                                    <div class="big-title">
                                        <h5>Midnight Radio 1</h5>
                                        <h2>Heatwave</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-text">
                            <p>Kicking off with a stone summertime classic and mountains of glorious reverb.
                            <span class="grid-genre">Stevie Wonder, Sugar Plant, Actress, Suicide, Füxa</span></p>
                        </div>
                        </a>
                    </article>                   

                </div>
            </div>
        </div>

    {{/post}}
</main>