{{!< default}}

<script>
document.body.classList.add('has-hero');
</script>

<main id="main" class="content outer notebook-page">

{{#tag}}
<div class="inner-wide">
    <div class="notebook-hero">
        <div class="notebook-title-column">
            <h1>Notebook</h1>
        </div>
        
        <div class="notebook-image-column">
            <img src="{{asset "/img/notebook.webp" }}" alt="Notebook" class="notebook-hero-image" />
        </div>
    </div>
</div>

<div class="inner-wide">
    <div class="grid notebook">

        <!-- Weather -->
        <article>
            <a href="{{@site.url}}/weather" class="post-card-link">
                <div class="post-card bg-dark bg-full">
                    <img src="{{asset 'img/reeves-weather.webp'}}" 
                        class="post-card-image bg-full-image bg-fade-in"
                        alt="The Late Heavy Bombardment" />
                </div>
                <div class="grid-text">
                    <span class="grid-title">Weather</span>
                    <p>Reports from the Late Heavy Bombardment: strange clouds, dreams, and new atmospheres</p>
                    <span class="grid-date">November 2025</span>
                </div>
            </a>
        </article>

        <!-- God -->
        <article>
            <a href="{{@site.url}}/god" class="post-card-link">
            <div class="post-card bg-dark bg-full">
                <img class="post-card-image bg-full-image bg-fade-in" src="{{asset 'img/god.webp'}}" />
            </div>
            <div class="grid-text">
                <span class="grid-title">Notes on God</span>
                <p>Because hell can be described a thousand ways but heaven remains impossible to grasp.</p>
                    <span class="grid-date">November 2025</span>
            </div>
            </a>
        </article>          

        <!-- Art -->
        <article>
            <a href="{{@site.url}}/art" class="post-card-link">
                <div class="post-card bg-dark bg-full">
                    <img src="{{asset 'img/reeves-art.webp'}}" 
                        class="post-card-image bg-full-image bg-fade-in"
                        alt="Art Diary" />
                </div>
                <div class="grid-text">
                    <span class="grid-title">Art Diary</span>
                    <p>Francis Bacon believed in “an area of the nervous system to which the texture of paint communicates more violently than anything else.”</p>
                    <span class="grid-date">November 2025</span>
                </div>
            </a>
        </article>

    </div>

    <!-- HIGHLIGHTS -->
    <section class="highlights">
        <h3 class="sect">Highlights</h3>
        <div class="footer-tags">
            <div class="index">
                {{#get "posts" filter="featured:true+tag:notebook" limit="12" include="tags"}}
                    {{#foreach posts}}
                        <div class="index-item is-visible" data-url="{{url}}">
                            <span class="index-name">{{title}}</span>
                            <span class="count">{{date published_at format="YYYY"}}</span>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

    <!-- ORIGINAL POST LIST -->
    <div class="inner-wide">
        <h3 class="sect">Lowlights</h3>
        <div class="post-titles">
            {{#get "posts" include="tags" filter="tag:-midnight-radio+featured:false" limit="900"}}                
                {{#foreach posts}}
                    <div class="post-title">
                        <a href="{{url}}" class="post-title-name">{{title}}</a> / 
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
    </div>

    {{/tag}}

</main>
