{{!< default}}
<script>document.body.classList.add('has-hero');</script>

    <main id="main" class="content outer radio-page">
        {{#tag}}

            <div class="radio-hero-wrapper series-header">
            <div class="image-slider">
                {{#if feature_image}}
                    <img
                        class="post-card-image bg-full-image bg-fade-in"
                        srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                        sizes="(min-width: 1600px) 1600px, 100vw"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />
                {{/if}}
            </div>        
            <div class="radio-hero-content">
                <h1>{{name}}</h1>
                {{#if description}}
                    <p>{{description}}</p>
                {{/if}}        
            </div>
        </div>


    <div class="inner-wide">
        <div class="grid notebook">

            {{#get "posts" limit="all" include="tags" filter="tag:{{slug}}"}}
            {{#foreach posts visibility="all" limit="all"}}

                <article>
                    <a href="{{url}}" class="post-card-link">
                        <div class="post-card bg-dark bg-full">
                            {{#if feature_image}}
                                <img
                                    class="post-card-image bg-full-image bg-fade-in"
                                    srcset="{{img_url feature_image size="xs"}} 300w, {{img_url feature_image size="s" }} 600w, {{img_url feature_image size="m" }} 800w, {{img_url feature_image size="l" }} 1200w, {{img_url feature_image size="xl" }} 1600w, {{img_url feature_image size="xxl" }} 2000w"
                                    sizes="(min-width: 1600px) 1600px, 100vw"
                                    src="{{img_url feature_image size="xl"}}"
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                />
                            {{/if}}
                        </div>
                        <div class="grid-text">
                            <span class="grid-title">{{title}}</span>  
                            <p>{{{custom_excerpt}}}</p>
                        </div>
                    </a>
                </article>
            
            {{/foreach}}
            {{/get}}

        </div>
    </div>

    {{/tag}}
</main>